**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/Properties/launchSettings.json
**/secrets.dev.yaml
**/values.dev.yaml
**/*.user
**/*.suo
**/*.swp
**/*.log
LICENSE
README.md
*.md
docker-compose*.yml
Dockerfile*
TiendaPromElec.UnitTests/**
TiendaPromElec.IntegrationTests/**
TiendaPromElec.sln
