# Plantilla. Renombra a .env y rellena con tus valores.
# IMPORTANTE: NO subas .env al repositorio (agregarlo a .gitignore)

SA_PASSWORD=YourSqlPassword#2025
JWT_SECRET=Cambia_este_secreto_por_uno_de_al_menos_32_caracteres_aleatorios_!!!
SEED_ADMIN_EMAIL=admin@promelec.com
SEED_ADMIN_PASSWORD=Admin#2025!
ALLOWED_ORIGIN_1=https://localhost:5173
